@font-face {
    font-family: "Verdana";
    src: url("../font/Verdana-BoldItalic.eot");
    src: local("Verdana Bold Italic"), local("Verdana-BoldItalic"),
    url("../font/Verdana-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../font/Verdana-BoldItalic.woff") format("woff"),
    url("../font/Verdana-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Verdana";
    src: url("../font/Verdana.eot");
    src: local("Verdana"),
    url("../font/Verdana.eot?#iefix") format("embedded-opentype"),
    url("../font/Verdana.woff") format("woff"),
    url("../font/Verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("../font/Verdana-Bold.eot");
    src: local("../font/Verdana Bold"), local("Verdana-Bold"),
    url("../font/Verdana-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/Verdana-Bold.woff") format("woff"),
    url("../font/Verdana-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("../font/Verdana-Italic.eot");
    src: local("../font/Verdana Italic"), local("../font/Verdana-Italic"),
    url("../font/Verdana-Italic.eot?#iefix") format("embedded-opentype"),
    url("../font/Verdana-Italic.woff") format("woff"),
    url("../font/Verdana-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

.wrapper {
    width: 1366px;
    height: 768px;
    background-color: rgba(0, 0, 0, 0.73);
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-position: center;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    margin: 0 auto;
}

.logo-contacts-block {
    padding: 47px 147px 47px 155px;
}

.logo-block {
    float: left;
    width: 166px;
    height: 44px;
}

.logo-block:hover {
    color: #f26522;
}

.icon {
    width: 46px;
    height: 44px;
    float: left;
    margin: 0 15px 0 0;
    background-image: url("../image/logo2.png");
}

.icon.logo {
    background-position: 0 0;
}

.logo-link:hover .icon.logo{
    background-position: 46px 0;
}

.logo_milan {
    text-transform: uppercase;
    width: 104px;
    height: 22px;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    float: left;
    margin: 0;
}

.logo_holidays {
    width: 105px;
    height: 13px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    float: left;
    margin: 9px 0 0;
}

.contacts {
    float: right;
    width: 243px;
    height: 37px;
}

.e-mail {
    width: 243px;
    height: 18px;
    font-size: 18px;
    line-height: 21px;
    float: right;
    margin: 0;
}

.phone_number {
    font-size: 18px;
    line-height: 21px;
    float: right;
    margin: 0;
}

.content {
    float: left;
    margin: 0 148px 57px 154px;
}

.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.link {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    float: left;
}

.content-icon-1, .content-icon-3, .content-icon-4 {
    width: 307px;
    height: 200px;
}

.content-icon-2 {
    width: 308px;
    height: 200px;
    border: 1px solid black;
}

.content-icon-5 {
    width: 308px;
    height: 201px;
}

.content-icon-6 {
    width: 307px;
    height: 201px;
}

.second-line {
    float: left;
    margin-top: 58px;
}

.center-block {
    margin-left: 67px;
    margin-right: 66px;
}

.content-img-title {
    position: relative;
}

.logo-link:hover .logo-block {
    color: #f26522;
}

.from {
    font-size: 10px;
    text-align: left;
    margin-bottom: 0;
    margin-left: 10px;
}

.euro {
    font-size: 20px;
    text-align: left;
    display: inline-block;
    width: 160px;
    margin-top: 0;
}

.details {
    font-size: 14px;
    display: inline-block;
    width: 122px;
    margin-top: 0;
}

.details:after {
    content: ">";
    padding-left: 10px;
}

.img_description {
    position: absolute;
    top: 137px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 307px;
    height: 64px;
    background-color:#f26522;
    color: #fff;
    visibility: hidden;
    opacity: 0;
}

.bigger {
    width: 310px;
}

.bigger-2 {
    width: 308px;
}

.link:hover .img_description {
    visibility: visible;
    opacity: 1;
}

.content-title {
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}